extends _layout/layout

block variables
	- var title = 'Linda Spa'
	- var bodyclass = 'userpage'

block css

block body 
	include _layout/header
	main
		//- include _layout/breadcrumb
		include _layout/ct-userpanel1
	include _layout/footer