.container
	section.banner-wrap.clearfix
		.menu-left
			.menu-wrap
				ul.menulink
					li.has-mega.active
						a(href="#!") Trang điểm
						.mega
							.row
								.col-12.col-xl-9
									.row
										.col-12.col-xl-4
											.mega-sub
												a.sub-title Nổi bật
												ul.sub-link
													li
														a(href="#!") Bán chạy
													li
														a(href="#!") Hàng mới
													li
														a(href="#!") Khuyến mãi
										.col-12.col-xl-4
											.mega-sub
												a.sub-title Trang điểm môi
												ul.sub-link
													li
														a(href="#!") Son lì
													li
														a(href="#!") Son bóng
													li
														a(href="#!") Son dưỡng
													li
														a(href="#!") Mặt nạ ngủ cho môi
										.col-12.col-xl-4
											.mega-sub
												a.sub-title Chăm sóc móng
												ul.sub-link
													li
														a(href="#!") Nước tẩy móng
													li
														a(href="#!") Sơn màu móng
										.col-12.col-xl-4
											.mega-sub
												a.sub-title Trang điểm mặt
												ul.sub-link
													li
														a(href="#!") Phấn nền
													li
														a(href="#!") Phấn phủ
													li
														a(href="#!") Phấn má hồng
													li
														a(href="#!") Kem nền (BB Cream, CC Cream)
										.col-12.col-xl-4
											.mega-sub
												a.sub-title Tẩy trang
												ul.sub-link
													li
														a(href="#!") Tẩy trang mặt
													li
														a(href="#!") Tẩy trang mắt, môi
													li
														a(href="#!") Khăn, bông tẩy trang
										.col-12.col-xl-4
											.mega-sub
												a.sub-title Dụng cụ trang điểm
								.col-12.col-xl-3
									a.menu-img(href="#!")
										img(src="img/mnimg.png", alt="")
					li
						a(href="#!") Chăm sóc da mặt
					li
						a(href="#!") Chăm sóc vùng da mắt
					li
						a(href="#!") Chăm sóc cơ thể
					li
						a(href="#!") Chăm sóc tóc
					li
						a(href="#!") Thực phẩm chức năng
					li
						a(href="#!") Tinh dầu, spa
					li
						a(href="#!") Sản phẩm bán chạy
		.banner
			.banner-main
				.item
					a.img(href="#!")
						img(src="img/banner/1.jpg", alt="")
			.banner-right
				.banner-2
					a.img(href="#!")
						img(src="img/banner/2.jpg", alt="")
				.banner-3
					a.img(href="#!")
						img(src="img/banner/3.jpg", alt="")
			.sitefeature
				.feature
					.icon
						img(src="img/icon/f1.png", alt="")
					.name Cam kết 100% hàng chính hãng
				.feature
					.icon
						img(src="img/icon/f2.png", alt="")
					.name Miễn phí vận chuyển toàn quốc
				.feature
					.icon
						img(src="img/icon/f3.png", alt="")
					.name Đổi trả trong 15 ngày