section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Hỏi đáp
				meta(itemprop='position', content='2')
.container
	.row
		.col-12.col-lg-9
			section.page-content.clearfix
				h1.page-title Hỏi đáp
				//- .newfaq
					.module-title Gửi câu hỏi
					.form-group
						input(type="text", placeholder="Họ và tên")
					.form-group
						input(type="text", placeholder="Tiêu đề")
					.form-group
						textarea(name="", cols="30", rows="10", placeholder="Nội dung...")
					input(type="submit", value="Gửi câu hỏi")
				.faqlist
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
					.faq
						.faqtitle Lorem ipsum dolor sit amet, consectetur adipisicing.
						.faqcontent.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, quod.
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, hic voluptatibus minus at doloremque necessitatibus molestias nulla possimus distinctio culpa.
		.col-12.col-lg-3
			nav.sidebar-category.clearfix
				.small-title Giới thiệu
				ul.sidebar-link
					li
						a(href="#") Về Linda Spa
					li 
						a(href="#") Hệ thống cửa hàng
					li 
						a(href="#") Tin tức
					li 
						a(href="#") Tuyển dụng
					li 
						a(href="#") Liên hệ
			nav.sidebar-category.clearfix
				.small-title Hỗ trợ khách hàng
				ul.sidebar-link
					li
						a(href="#") Hướng dẫn
					li.active
						a(href="#") Hỏi đáp
					li 
						a(href="#") Bảo hành