.container
	.row
		.col-12.col-lg-9
			section.home-hotsale.clearfix
				.hot-sale-title
					h1.title Sản phẩm bán chạy
					nav.category
						ul
							li
								a(href="#!") Tin dầu, Spa
							li
								a(href="#!") Chăm sóc tóc
							li
								a(href="#!") Thực phẩm chức năng
						a.btn-viewmore(href="#!") Xem tất cả
				.hot-product-slide.product-list
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.jpg", alt="")
								figcaption
									.product-brand JAPAN
									.promotion.sale -10%
									h3.product-name
										a(href="#!") Kẹo Beauty Rose
									.btn-wrap
										a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
										.product-price 
											.new 40.000 đ
											.old 67.000 đ
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/2.jpg", alt="")
								figcaption
									.product-brand Otsuka
									.promotion.sale -10%
									h3.product-name
										a(href="#!") Thạch Collagen C Jelly (Hộp 7 Thanh)
									.btn-wrap
										a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
										.product-price 
											.new 140.000 đ
											.old 170.000 đ
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/3.jpg", alt="")
								figcaption
									.product-brand ASTALIFT
									.promotion.sale -10%
									h3.product-name
										a(href="#!") Nước Uống Bổ Sung Collagen (10 Hộp x 30ml)
									.btn-wrap
										a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
										.product-price 
											.new 790.000 đ
											.old 820.000 đ
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/4.jpg", alt="")
								figcaption
									.product-brand OMD CHIA
									.promotion.sale -10%
									h3.product-name
										a(href="#!") Hạt Chia Úc Hữu Cơ - 500g
									.btn-wrap
										a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
										.product-price 
											.new 280.000 đ
											.old 310.000 đ
					.item
						.product-col
							figure
								a.product-img(href="#!")
									img(src="img/product/1.jpg", alt="")
								figcaption
									.product-brand JAPAN
									.promotion.sale -10%
									h3.product-name
										a(href="#!") Kẹo Beauty Rose
									.btn-wrap
										a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
										.product-price 
											.new 40.000 đ
											.old 67.000 đ
		.col-12.col-lg-3
			.home-hotdeal
				.title HOT DEALS
				.hot-deal-slide
					.item
						a.img(href="#!")
							img(src="img/product/hotdeal.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/product/hotdeal.jpg", alt="")
					.item
						a.img(href="#!")
							img(src="img/product/hotdeal.jpg", alt="")
	section.home-brand.clearfix
		.title-wrap
			h2.title Thương hiệu
			a.btn-viewmore(href="#!") Xem tất cả
		.home-brand-slide
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/1.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/2.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/3.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/4.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/5.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/6.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/1.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/2.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/3.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/4.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/5.png", alt="")
			.item
				a.brand-logo(href="#!")
					img(src="img/brand/6.png", alt="")
	section.home-adv
		.row.justify-content-center
			.col-12.col-md-6.col-lg-4
				a.banner-ad(href="#!")
					img(src="img/ads/ad1.jpg", alt="")
			.col-12.col-md-6.col-lg-4
				a.banner-ad(href="#!")
					img(src="img/ads/ad2.jpg", alt="")
			.col-12.col-md-6.col-lg-4
				a.banner-ad(href="#!")
					img(src="img/ads/ad3.jpg", alt="")
	section.home-product.clearfix
		nav.category
			.title Trang điểm
			ul.category-link
				li
					a(href="#!") Trang điểm mặt
				li
					a(href="#!") Trang điểm môi
				li
					a(href="#!") Trang điểm vùng mắt
				li
					a(href="#!") Tẩy trang
				li
					a(href="#!") Chăm sóc móng
				li
					a(href="#!") Dụng cụ trang điểm
		.product-wrap
			.product-banner
				.item
					a.img(href="#!")
						img(src="img/banner/p1.jpg", alt="")
			.hot-product-slide.product-list
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/11.jpg", alt="")
							figcaption
								.product-brand Eucerin
								.promotion.sale -10%
								h3.product-name
									a(href="#!") White Therapy Ceansing Foam
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 428.000 đ
										.old 540.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/12.jpg", alt="")
							figcaption
								.product-brand Skinfood
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Kem Lót Peach Cotton Tone Up Base  
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 195.000 đ
										.old 240.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/13.jpg", alt="")
							figcaption
								.product-brand E.L.F
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Son Môi Tẩy Tế Bào Chết
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 790.000 đ
										.old 840.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/14.jpg", alt="")
							figcaption
								.product-brand TonyMoly
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Phấn Phủ Bột Luminous Perfume Face Powder
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 280.000 đ
										.old 340.000 đ
	section.home-product.clearfix
		nav.category
			.title Chăm sóc da mặt
			ul.category-link
				li
					a(href="#!") Kem dưỡng da
				li
					a(href="#!") Sữa rửa mặt
				li
					a(href="#!") Tẩy tế bào chết ở mặt
				li
					a(href="#!") Xịt khoáng - Nước hoa hồng
				li
					a(href="#!") Mặt nạ
				li
					a(href="#!") Serum - Tinh chất dưỡng da
				li
					a(href="#!") Chống nắng da mặt
				li
					a(href="#!") Phụ kiện chăm sóc da
				li
					a(href="#!") Bộ sản phẩm chăm sóc da
		.product-wrap
			.product-banner
				.item
					a.img(href="#!")
						img(src="img/banner/p2.jpg", alt="")
			.hot-product-slide.product-list
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/21.jpg", alt="")
							figcaption
								.product-brand Eucerin
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Sun Fluid SPF 50+
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price
										.new 763.000 đ
										.old 840.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/22.jpg", alt="")
							figcaption
								.product-brand NATURE REPUBLIC
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Gel Dưỡng Ẩm Chiết Xuất Lô Hội - 300ml  
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 79.000 đ
										.old 90.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/23.jpg", alt="")
							figcaption
								.product-brand Eucerin
								.promotion.sale -10%
								h3.product-name
									a(href="#!") AQUAporin Active Mist Spray
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 220.000 đ
										.old 340.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/24.jpg", alt="")
							figcaption
								.product-brand LANEIGE
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Mặt Nạ Vitamin C Sáng Da
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 280.000 đ
										.old 340.000 đ
	section.home-product.clearfix
		nav.category
			.title Chăm sóc cơ thể
			ul.category-link
				li
					a(href="#!") Dưỡng Ẩm Toàn Thân
				li
					a(href="#!") Săn Chắc Da
				li
					a(href="#!") Sữa Tắm, Xà Bông Tắm
				li
					a(href="#!") Tẩy Tế Bào Chết Toàn Thân
				li
					a(href="#!") Khử Mùi Cơ Thể Cho Nữ
				li
					a(href="#!") Kem Chống Nắng
				li
					a(href="#!") Kem Massage - Chăm Sóc Ngực
				li
					a(href="#!") Nước Rửa Tay
				li
					a(href="#!") Sản Phẩm Tẩy Lông
				li
					a(href="#!") Dung Dịch Vệ Sinh
				li
					a(href="#!") Ngăn Ngừa Và Điều Trị Rạn Da
		.product-wrap
			.product-banner
				.item
					a.img(href="#!")
						img(src="img/banner/p3.jpg", alt="")
			.hot-product-slide.product-list
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/31.jpg", alt="")
							figcaption
								.product-brand Eucerin
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Baby Wash and Shampoo 400ml
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 430.000 đ
										.old 540.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/32.jpg", alt="")
							figcaption
								.product-brand NIVEA
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Tinh Chất Dưỡng Trắng Da Toàn Thân SPF50 - 180ml
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 127.000 đ
										.old 240.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/33.jpg", alt="")
							figcaption
								.product-brand Eucerin
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Ph5 Wash Lotion 400ml
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 395.000 đ
										.old 440.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/34.jpg", alt="")
							figcaption
								.product-brand APieu
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Gel Làm Sạch HOLE Cleaner 
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 99.000 đ
										.old 140.000 đ
	section.home-adv
		.row.justify-content-center
			.col-12.col-md-6
				a.banner-ad(href="#!")
					img(src="img/ads/ad4.jpg", alt="")
			.col-12.col-md-6
				a.banner-ad(href="#!")
					img(src="img/ads/ad5.jpg", alt="")
			//- .col-12.col-md-6.col-lg-4.wow.fadeInUp
				a.banner-ad(href="#!")
					img(src="img/ads/ad3.jpg", alt="")
	section.home-product.clearfix
		nav.category
			.title Linda Spa
			ul.category-link
				li
					a(href="#!") Face
				li
					a(href="#!") Body
				li
					a(href="#!") Foot
		.product-wrap
			.product-banner
				.item
					a.img(href="#!")
						img(src="img/banner/p4.jpg", alt="")
			.hot-product-slide.product-list
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/41.jpg", alt="")
							figcaption
								.product-brand face
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Liệu trình chăm sóc làm chậm quá trình lão hoá da
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 430.000 đ
										.old 540.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/42.jpg", alt="")
							figcaption
								.product-brand body
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Giúp cải thiện các dấu hiệu hư tổn, kích ứng da
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 527.000 đ
										.old 740.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/43.jpg", alt="")
							figcaption
								.product-brand foot
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Thư giãn toàn thân phù hợp với cơ địa của người Việt Nam
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 695.000 đ
										.old 740.000 đ
				.item
					.product-col
						figure
							a.product-img(href="#!")
								img(src="img/product/44.jpg", alt="")
							figcaption
								.product-brand body
								.promotion.sale -10%
								h3.product-name
									a(href="#!") Giúp cải thiện các dấu hiệu hư tổn, kích ứng da
								.btn-wrap
									a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
									.product-price 
										.new 990.000 đ
										.old 1.040.000 đ
section.home-news
	.container
		.title.text-center Tin khuyến mãi
		.news-list
			.row
				article.col-12.col-lg-6
					.news-col.big
						figure
							a.news-img(href="#!")
								img(src="img/news/h1.jpg", alt="")
							figcaption
								time 23/04/2017
								h3.news-name
									a(href="#!") Đổ gục trước bảng màu cực đẹp của son chou chou desire matte rouge
								.news-des Son Chou Chou Desire có thiết kế mang dáng dấp hoàng gia, hội tụ đủ độ sang trọng và đài các, chất son cũng được đánh giá là vượt trội hơn hẳn son Chou Chou Signature Premire trước đó. Hôm nay son Chou Chou Desire được giảm 29% khi mua tại cửa hàng Linda Spa!
				article.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/h2.jpg", alt="")
							figcaption
								time 23/04/2017
								h3.news-name
									a(href="#!") Muốn da đẹp hoàn hảo, không nên bỏ qua 5 dòng kem chống nắng của Innisfree 
								.news-des Son Chou Chou Desire có thiết kế mang dáng dấp hoàng gia, hội tụ đủ độ sang trọng và đài các, chất son cũng được đánh giá là vượt trội hơn hẳn son Chou Chou Signature Premire trước đó. Hôm nay son Chou Chou Desire được giảm 29% khi mua tại cửa hàng Linda Spa!
				article.col-12.col-md-6.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/h3.jpg", alt="")
							figcaption
								time 23/04/2017
								h3.news-name
									a(href="#!") Nên mua “thỏi son quốc dân” 3CE Velvet Lip Tint với giá 215k ở thời điểm nào? 
								.news-des Son Chou Chou Desire có thiết kế mang dáng dấp hoàng gia, hội tụ đủ độ sang trọng và đài các, chất son cũng được đánh giá là vượt trội hơn hẳn son Chou Chou Signature Premire trước đó. Hôm nay son Chou Chou Desire được giảm 29% khi mua tại cửa hàng Linda Spa!