.container
	.row.flex.flex-wrap.clearfix
		//- .col-12
			include bannerads
		include filter
		.col-main.clearfix
			section.product-page.clearfix
				.btn-togglewrap.d-lg-none
					.btn-showcate Danh mục sản phẩm
					.btn-showfilter Lọc sản phẩm
				.category-info.clearfix.wow.fadeInUp
					.product-sort.clearfix
						select
							option(value="#") Sắp xếp theo
							option(value="#") Bán chạy nhất
							option(value="#") Hàng mới về
							option(value="#") Giá cao nhất
							option(value="#") Giá thấp nhất
					h1.cate-name Trang điểm
					.amount Tìm thấy 60 sản phẩm
				.product-list.clearfix.wow.fadeInUp
					.row
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p1.png", alt="")
									figcaption
										.product-brand za
										h3.product-name
											a(href="#!") BB Cream UV White
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price 
												.new 240.000 đ
												.old 340.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p2.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Sheer and Shine lipstick
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 195.000 đ
												.old 240.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p3.png", alt="")
									figcaption
										.product-brand FLORMAR
										h3.product-name
											a(href="#!") Bộ cọ 5 cây
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 599.000 đ
												.old 840.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p4.png", alt="")
									figcaption
										.product-brand ZA
										h3.product-name
											a(href="#!") Phấn nước dưỡng trắng
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 280.000 đ
												.old 340.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p5.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Velvety Loose Powder
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 428.000 đ
												.old 540.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p6.png", alt="")
									figcaption
										.product-brand za
										h3.product-name
											a(href="#!") Phấn Má Hồng Cheek
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 275.000 đ
												.old 310.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p7.png", alt="")
									figcaption
										.product-brand ZA
										h3.product-name
											a(href="#!") MASCARA DÀI & DÀY MI
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 249.000 đ
												.old 280.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p8.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Grand Rouge Lipstick
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 280.000 đ
												.old 340.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p9.png", alt="")
									figcaption
										.product-brand FLORMAR
										h3.product-name
											a(href="#!") Kem nền fusion power foundation serum
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 428.000 đ
												.old 540.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p10.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Sexy Pulp Lash Plumping Mascara
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 195.000 đ
												.old 240.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p11.png", alt="")
									figcaption
										.product-brand ZA
										h3.product-name
											a(href="#!") Kem che khuyết điểm Concealer
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 170.000 đ
												.old 840.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p12.png", alt="")
									figcaption
										.product-brand FLORMAR
										h3.product-name
											a(href="#!") Kem nén bb cream powder
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 280.000 đ
												.old 340.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p13.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Matte Tri-tone eye shadow
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 428.000 đ
												.old 540.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p14.png", alt="")
									figcaption
										.product-brand ZA
										h3.product-name
											a(href="#!") Son màu lâu phai Vivid dare
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 195.000 đ
												.old 240.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p15.png", alt="")
									figcaption
										.product-brand FLORMAR
										h3.product-name
											a(href="#!") Má hồng flormar blush-on
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 599.000 đ
												.old 840.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p16.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Flawless finish fluid foundation
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price 
												.new 280.000 đ
												.old 340.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p17.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Lip pencil
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 428.000 đ
												.old 540.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p18.png", alt="")
									figcaption
										.product-brand Flormar
										h3.product-name
											a(href="#!") Lót mắt eye perfection primer
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 195.000 đ
												.old 240.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p19.png", alt="")
									figcaption
										.product-brand ZA
										h3.product-name
											a(href="#!") Kem CC trang điểm dạng thỏi Natural
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 599.000 đ
												.old 840.000 đ
						article.col-6.col-sm-4.col-md-3.col-lg-4.col-xl-3
							.product-col
								figure
									a.product-img(href="#!")
										img(src="img/product/p20.png", alt="")
									figcaption
										.product-brand Yvesrocher
										h3.product-name
											a(href="#!") Natural Blush
										.btn-wrap
											a.btn-buy(href="#!") <i class="fa fa-shopping-cart" aria-hidden="true"></i>
											.product-price
												.new 280.000 đ
												.old 340.000 đ
			.pages.wow.fadeInUp
				ul.pagination
					li.active
						a(href="#") 1
					li 
						a(href="#") 2
					li 
						a(href="#") 3
					li 
						a(href="#") 4