//- section.banner-wrap.clearfix
	.banner.brand-banner
		//- .item
			.banner-img
				img(src="img/banner/3.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo.animated.fadeInLeft
								img(src="img/banner/brand1.png", alt="")
							.caption.animated.fadeInRight Đồng hồ đôi dây kim loại Premier
							a.link.animated.fadeInUp(href="#") Xem thêm
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption Đồng hồ đôi dây kim loại Premier
							a.link(href="#") Xem thêm
		//- .item
			.banner-img
				img(src="img/banner/2.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption Đồng hồ đôi dây kim loại Premier
							a.link(href="#") Xem thêm
section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Thương hiệu
				meta(itemprop='position', content='2')
			//- li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Đồng hồ nam
				meta(itemprop='position', content='3')
.container
	//- section.adswrap.clearfix.wow.fadeIn
		.bannerads
			.item
				a(href="#")
					img(src="img/product/bn1.jpg", alt="")
	.row
		.col-12.col-lg-4.col-xl-3
			nav.sidebar-nav
				ul
					li.active
						a(href="#!") Trang điểm
					li
						a(href="#!") Chăm sóc da mặt
					li
						a(href="#!") Chăm sóc vùng da mắt
					li
						a(href="#!") Chăm sóc cơ thể
					li
						a(href="#!") Chăm sóc tóc
					li
						a(href="#!") Thực phẩm chức năng
					li
						a(href="#!") Tinh dầu spa
					li
						a(href="#!") Sản phẩm bán chạy
		.col-12.col-lg-8.col-xl-9
			section.product-page.clearfix
				.category-info.clearfix.wow.fadeInUp
					h1.cate-name Thương hiệu
					.amount Có 60 thương hiệu
				.brand-list.clearfix
					.row
						article.col-12.col-sm-4.col-md-3.col-custom
							a.brand-col.wow.zoomIn(href="#")
								figure
									.brand-img
										img(src="img/brand/1.png", alt="")
						article.col-12.col-sm-4.col-md-3.col-custom
							a.brand-col.wow.zoomIn(href="#")
								figure
									.brand-img
										img(src="img/brand/2.png", alt="")
						article.col-12.col-sm-4.col-md-3.col-custom
							a.brand-col.wow.zoomIn(href="#")
								figure
									.brand-img
										img(src="img/brand/3.png", alt="")
						article.col-12.col-sm-4.col-md-3.col-custom
							a.brand-col.wow.zoomIn(href="#")
								figure
									.brand-img
										img(src="img/brand/4.png", alt="")
						article.col-12.col-sm-4.col-md-3.col-custom
							a.brand-col.wow.zoomIn(href="#")
								figure
									.brand-img
										img(src="img/brand/5.png", alt="")
						article.col-12.col-sm-4.col-md-3.col-custom
							a.brand-col.wow.zoomIn(href="#")
								figure
									.brand-img
										img(src="img/brand/6.png", alt="")
	//- .pages.wow.fadeInUp
		ul.pagination
			li.active
				a(href="#") 1
			li 
				a(href="#") 2
			li 
				a(href="#") 3
			li 
				a(href="#") 4