//- section.banner-wrap.clearfix
	.banner.brand-banner
		//- .item
			.banner-img
				img(src="img/banner/3.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo.animated.fadeInLeft
								img(src="img/banner/brand1.png", alt="")
							.caption.animated.fadeInRight mỹ phẩm đôi dây kim loại Premier
							a.link.animated.fadeInUp(href="#") Xem thêm
		.item
			.banner-img
				img(src="img/banner/1.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption mỹ phẩm đôi dây kim loại Premier
							a.link(href="#") Xem thêm
		//- .item
			.banner-img
				img(src="img/banner/2.jpg", alt="")
			//- .banner-caption
				.container
					.row
						.col-12.col-md-6.col-lg-4
							.logo
								img(src="img/banner/brand1.png", alt="")
							.caption mỹ phẩm đôi dây kim loại Premier
							a.link(href="#") Xem thêm
section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Thương hiệu
				meta(itemprop='position', content='2')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Longines
				meta(itemprop='position', content='3')
.container
	section.adswrap.clearfix.wow.fadeIn
		.bannerads
			.item
				a(href="#")
					img(src="img/product/bn1.jpg", alt="")
			//- .item
				a(href="#")
					img(src="img/product/bn1.jpg", alt="")
			//- .item
				a(href="#")
					img(src="img/product/bn1.jpg", alt="")
	section.product-page.clearfix
		//- .btn-togglewrap.d-lg-none
			.btn-showcate Danh mục sản phẩm
		//- section.filter-wrap2.option-group.clearfix
			.filter-group.clearfix
				.filter-title <i class="fa fa-th-list" aria-hidden="true"></i>
					span Danh mục sản phẩm
					//- .btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
				.filter-option.clearfix
					nav.filter-category.clearfix
						ul
							li.hassub.active
								a(href="#") mỹ phẩm nam
								//- .btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
								//- .sub
									ul 
										li.active
											a(href="#") Vali nhựa
										li 
											a(href="#") Vali vải
							li
								a(href="#") mỹ phẩm nữ
							li.hassub
								a(href="#") mỹ phẩm đôi
							li
								a(href="#") Sản phẩm khác
		.category-info.clearfix.wow.fadeInUp
			//- .product-sort.clearfix
				select
					option(value="#") Sắp xếp theo
					option(value="#") Bán chạy nhất
					option(value="#") Hàng mới về
					option(value="#") Giá cao nhất
					option(value="#") Giá thấp nhất
			h1.cate-name Thương hiệu SEIKO
			.amount Có 2000 sản phẩm
		.brand-list.clearfix
			.row
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/1.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Premier
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/2.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Presage
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/3.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Seiko 5
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/4.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Quartz Chronograph
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/5.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Sportura
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/6.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Quartz Reg
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/7.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Quartz Solar
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/8.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Kinetic
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/9.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Criteria
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/10.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Prospex
				article.col-12.col-sm-4.col-md-3.col-custom
					a.brand-col.wow.zoomIn(href="#")
						figure
							.brand-img
								img(src="img/brand/17.jpg", alt="")
								.brand-des có 800 sản phẩm
							figcaption
								.brand-name Tất cả sản phẩm
		section.brand-intro.clearfix
			.brand-logo.text-center
				img(src="img/brand/1.png", alt="")
			.content
				p <strong>Seiko</strong> là Tập đoàn sản xuất công nghiệp lớn trên thế giới và có lịch sử trên 109 năm phát triển. Được biết đến với rất nhiều lĩnh vực kinh doanh khác nhau như may mặc, bất động sản, điện tử, xây dựng … với các công ty lớn nhỏ trên toàn thế giới. Seiko hiện nay là một trong những tập đoàn lớn nhất của Nhật Bản nhưng nổi bật nhất vẫn là Seiko Corp, hãng sản xuất mỹ phẩm của tập đoàn này.
				p Seiko Watch đã liên tục đưa ra một số mỹ phẩm nam và dong ho nu đẹp tuyệt vời, thiết kế sành điệu và hiệu quả. Các mỹ phẩm của công ty này mang lại sự phát triển mới nhất trong thị trường để lại thách thức theo cách của mình ở phía sau. Năm 1881 là điểm mốc đánh dấu cái năm quan trọng trong việc thành lập hãng Seiko, khi mà Kintaro Hattori mở một cửa hàng mỹ phẩm và đồ trang sức được gọi là “K. Hattori” trong khu vực Ginza của Toyko, Nhật Bản. Mười một năm sau, vào năm 1982 ông bắt đầu sản xuất mỹ phẩm dưới cái tên Seikosha.  Đây là những chiếc mỹ phẩm nhỏ gọn
				p Công ty này ra đời vào năm 1924 tại thành phố Tokyo, Nhật Bản. Kể từ khi thành lập đến nay, thương hiệu này đã được giữ vững trong ngành chế công nghiệp điện tử trên toàn thế giới. Và giờ đây họ tiếp tục phát triển thương hiệu với việc chế tác mỹ phẩm thời trang.
				figure.text-center
					img(src="http://donghoduyanh.com/upload/images/1-nguoi-sang-lap-thuong-hieu-seiko.jpg", alt="")
					figcaption Kintaro Hattori - Người sáng lập thương hiệu Seiko
				
				p Năm 1895 - Seikosha ra đời chiếc mỹ phẩm bỏ túi đầu tiên.
				figure
					img(src="http://donghoduyanh.com/upload/images/2-Seiko-1895-Pocket-Watch.jpg", alt="")
					figcaption The Timekeeper by Seikosha (1895)
				p Trong suốt những năm 1890, sự thành công của doanh nghiệp mỹ phẩm treo tường Seikosha tăng lên, và Kintaro đã mở rộng phạm vi kinh doanh của mình. Năm 1895, ông đã tạo ra một chiếc mỹ phẩm bỏ túi, mỹ phẩm bấm giờ. Đây là một bước tiến quan trọng của Seiko – mở đường cho chiếc mỹ phẩm đeo tay đầu tiên tại Nhật Bản.
				p Năm 1913, trong nửa đầu công nguyên Taisho, mỹ phẩm bỏ túi vẫn còn rất phổ biến và chỉ có một vài mỹ phẩm đeo tay nhập khẩu vào Nhật Bản. Tuy nhiên, Kintaro đã quyết định đi trước một bước và bắt tay vào nhiệm vụ khó khăn của việc tạo ra dong ho deo tay của Nhật Bản lần đầu tiên. Năm 1913, ông đã thành công với việc chế tạo ra chiếc mỹ phẩm Laurel. Những ngày đầu sản xuất, công ty chỉ sản xuất khoảng 30 – 50 chiếc mỹ phẩm/ngày, nhưng có lẽ đây là bước tiến lớn đối với thương hiệu Seiko từ khi thành lập tới nay.
				//- .share
					img(src="img/share.jpg", alt="")
			.btn-wrap
				a.btn-expand(href="#!") Xem thêm