section.breadcrumb-wrap.clearfix
	.container
		ol.breadcrumb(itemscope='', itemtype='http://schema.org/BreadcrumbList')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books')
					span(itemprop='name') Trang chủ
				meta(itemprop='position', content='1')
			li(itemprop='itemListElement', itemscope='', itemtype='http://schema.org/ListItem')
				a(itemscope='', itemtype='http://schema.org/Thing', itemprop='item', href='https://example.com/books/sciencefiction')
					span(itemprop='name') Tin tức
				meta(itemprop='position', content='2')
.container
	.row
		.col-12.col-lg-9.col-xl-9
			section.news-page.clearfix
				h2.page-title BEST KOREAN ORGANIC MAKEUP BRANDS
				.news-info
					time 19/05/2017
				.news-content.content
					p Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit, amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
					p Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, obcaecati cupiditate non provident, similique sunt in culpa, qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
					p Nam libero tempore, cum soluta nobis est eligendi optio, cumque nihil impedit, quo minus id, quod maxime placeat, facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet, ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.
				
				.share
					img(src="img/share.jpg", alt="")
				.other-news
					.small-title Tin tức liên quan
					.post-list
						a.post(href="#") BEST KOREAN ORGANIC MAKEUP BRANDS
						a.post(href="#") BEST KOREAN ORGANIC MAKEUP BRANDS
						a.post(href="#") BEST KOREAN ORGANIC MAKEUP BRANDS
						a.post(href="#") BEST KOREAN ORGANIC MAKEUP BRANDS
						a.post(href="#") BEST KOREAN ORGANIC MAKEUP BRANDS
		.col-12.col-lg-3.col-xl-3
			nav.sidebar-category.clearfix
				.small-title Danh mục tin tức
				ul.sidebar-link
					li.active
						a(href="#") Tin thị trường
					li
						a(href="#") Tin công nghệ
					li
						a(href="#") Tin khuyến mãi
			section.lastest-news.clearfix
				.small-title Tin mới nhất
				.post-list
					.post.big
						figure
							a.post-img(href="#")
								img(src="img/news/1.jpg", alt="")
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Linda Spa giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Linda Spa giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Linda Spa giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Linda Spa giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Linda Spa giảm giá 50%
								time 12/07/2017
					.post
						figure
							figcaption
								h3.post-name
									a(href="#") 15 năm chính thức có mặt ở Việt Nam, Linda Spa giảm giá 50%
								time 12/07/2017
	//- section.product-other.clearfix
		.small-title.wow.fadeInUp Sản phẩm liên quan
		.other-slide.product-list
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.new NEW
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/1.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn
						.promotion.hot HOT
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/2.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/3.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/4.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.new NEW
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/5.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.hot HOT
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/6.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết
			.item
				.product-col
					figure.wow.zoomIn 
						.promotion.sale -10%
						.img-wrap
							a.product-img(href="#")
								img(src="img/product/7.png", alt="")
						figcaption
							.product-brand CASIO
							h3.product-name
								a(href="#") SKAGEN SKW6234
							.product-status Tình trạng: Sẵn hàng
							.product-view Lượt xem: 1164
							.product-price.clearfix
								.new 5.312.000 đ
								.old 6.650.000 đ
							a.btn-view(href="#") Chi tiết