section.col-left.filter-col.clearfix.wow.fadeInLeft
	.filter-wrap.category-group.clearfix
		.filter-group.clearfix
			.filter-title 
				span Danh mục sản phẩm
				//- .btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-category.clearfix
					ul
						li.active
							a(href="#") Trang điểm
							//- .btn-showsubfilter <i class="fa fa-angle-down" aria-hidden="true"></i>
							//- .sub
								ul 
									li.active
										a(href="#") Vali nhựa
									li 
										a(href="#") Vali vải
						li
							a(href="#") Chăm sóc da mặt
						li
							a(href="#") Chăm sóc vùng da mắt
						li
							a(href="#") Chăm sóc cơ thể
						li
							a(href="#") Chăm sóc tóc
						li
							a(href="#") Thực phẩm chức năng
						li
							a(href="#") Tinh dầu, Spa
						li
							a(href="#") Sản phẩm bán chạy
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
	.filter-wrap.option-group.clearfix
		.filter-group.clearfix
			.filter-title 
				span Thương hiệu
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax.brand-category
					ul
						li
							a.active(href="#") ZA
						li
							a.active(href="#") Flormar
						li
							a.active(href="#") Yves rocher
						li
							a(href="#") Flormar
						li
							a(href="#") Senka
						li
							a(href="#") Vichy
						li
							a(href="#") Christianlenart
						li
							a(href="#") Papulex
						li
							a(href="#") Evoluderm
						li
							a(href="#") Lovea
						li
							a(href="#") Bioderma
						li
							a(href="#") Eucerin
						li
							a(href="#") Larocher posay
						li
							a(href="#") Loreal
						li
							a(href="#") Maybeline
						li
							a(href="#") Astalift
						li
							a(href="#") Byphase
						li
							a(href="#") Head & Shoulders
						li
							a(href="#") SNP
						li
							a(href="#") Tresemme 
		.filter-group.clearfix
			.filter-title 
				span Mức giá
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				.price-select
					select
						option -- Lọc khoảng giá --
						option Dưới 2 triệu
						option 2 - 5 triệu
						option 5 - 10 triệu
						option 10 - 20 triệu
						option 20 - 50 triệu
						option Trên 50 triệu
		//- .filter-group.clearfix
			.filter-title 
				span Phong cách
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Cổ điển
						li
							a.active(href="#") Thể thao
						li
							a(href="#") Thể thao cổ điển
						li
							a.active(href="#") Thời trang
						li
							a(href="#") Quân đội
						li
							a(href="#") Khác
		//- .filter-group.clearfix
			.filter-title 
				span Phong thủy
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Kim
						li
							a(href="#") Mộc
						li
							a.active(href="#") Thủy
						li
							a(href="#") Hỏa
						li
							a(href="#") Thổ
		//- .filter-group.clearfix
			.filter-title 
				span Chất liệu vỏ
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Thép không gỉ
						li
							a(href="#") Titanium
						li
							a.active(href="#") Vàng 18k
		//- .filter-group.clearfix
			.filter-title 
				span Chất liệu dây
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Dây da
						li
							a(href="#") Dây vải
		//- .filter-group.clearfix
			.filter-title 
				span Kiểu dáng mặt
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Mặt tròn
						li
							a(href="#") Vuông
		//- .filter-group.clearfix
			.filter-title
				span Màu mặt
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				ul.color-picker
					li.color
						a.active(href="#!")
							.color-img(style='background-color:#000')
							.color-name Đen
					li.color
						a.active(href="#!")
							.color-img(style='background-color:#fff')
							.color-name Trắng
					li.color
						a(href="#!")
							.color-img(style='background-color:#ff0')
							.color-name Vàng
					li.color
						a(href="#!")
							.color-img(style='background-color:#00f')
							.color-name Lam
					li.color
						a(href="#!")
							.color-img(style='background-color:#eee')
							.color-name khác
		//- .filter-group.clearfix
			.filter-title 
				span Chất liệu kính
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Saphire chống lóa
						li
							a(href="#") Kính cứng
						li
							a(href="#") Kính cứng chống lóa
						li
							a(href="#") Mica
						li
							a(href="#") Hardex Crystal
		//- .filter-group.clearfix
			.filter-title 
				span Loại máy
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Automatic
						li
							a(href="#") Quartz
		//- .filter-group.clearfix
			.filter-title 
				span Đường kính mặt
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Dưới 25mm
						li
							a(href="#") 26mm - 29mm
						li
							a(href="#") 30mm - 33mm
		//- .filter-group.clearfix
			.filter-title 
				span Thương hiệu dây
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax.brand-category
					ul
						li
							a.active(href="#") SEIKO
						li
							a(href="#") CASIO
						li
							a.active(href="#") CITIZEN
						li
							a(href="#") Ogival
						li
							a(href="#") Cloude bernard
						li
							a(href="#") TISSOT
						li
							a.active(href="#") LE CHATEAU
						li
							a(href="#") SKAGEN
						li
							a.active(href="#") Sunrise
						li
							a(href="#") ORIENT
						li
							a(href="#") Calvin Klein
		//- .filter-group.clearfix
			.filter-title
				span Màu dây
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				ul.color-picker
					li.color
						a(href="#!")
							.color-img(style='background-color:#000')
							.color-name Đen
					li.color
						a.active(href="#!")
							.color-img(style='background-color:#fff')
							.color-name Trắng
		//- .filter-group.clearfix
			.filter-title 
				span Chất liệu dây
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Kim loại
						li
							a(href="#") Đá
						li
							a(href="#") Cao su
		//- .filter-group.clearfix
			.filter-title 
				span Size
				.btn-reset <i class="fa fa-undo" aria-hidden="true"></i>
			.filter-option.clearfix
				nav.filter-ajax
					ul
						li
							a.active(href="#") Dưới 25mm
						li
							a(href="#") 26mm - 29mm
						li
							a(href="#") 30mm - 33mm

			//- .filter-option.clearfix
				.filter-range
					#slider-range.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all(aria-disabled='false')
						.ui-slider-range.ui-widget-header.ui-corner-all(style='left: 0%; width: 100%;')
						a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 0%;')
						a.ui-slider-handle.ui-state-default.ui-corner-all(href='#', style='left: 100%;')
					.price-range
						| Giá từ
						.sliderValue.min-input(data-index='0') 0
						| đến
						.sliderValue.max-input(data-index='1') 10.000.000
					.hidden
						a.urlwithoutprice(href='#')
						a.urlwithprice(href='#')
						a.pricemin
						a.pricemax
		.btn-closefilter.btn-close <span class="lnr lnr-cross"></span> Đóng bộ lọc
