footer
	.container
		.footer-subscribe
			.subscribe
				.module-title Đăng ký nhận bản tin
				.subscribefrm
					input(type="text" placeholder="Đăng ký nhận bản tin...")
					button.subscribebutton Đăng ký
			.social
				a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
		.footer-main
			.row
				.col-12.col-md-6.col-lg-3
					.footer-col
						.title Liên hệ
						ul.contact-info
							li <i class="fa fa-map-marker" aria-hidden="true"></i> 123 Main Street, Anytown, CA 12345 USA
							li <i class="fa fa-phone" aria-hidden="true"></i> +1 800 123 1234
							li <i class="fa fa-envelope" aria-hidden="true"></i> info@lindaecommerce.com
							li <i class="fa fa-globe" aria-hidden="true"></i> Linda-ecommerce.com
							li <i class="fa fa-facebook-square" aria-hidden="true"></i> facebook.com/lindaspa
				
				.col-12.col-md-6.col-lg-3
					.footer-col
						.title Sản phẩm
						nav.footer-link
							ul
								li
									a(href="#") Trang điểm 
								li
									a(href="#") Chăm Sóc Da Mặt
								li
									a(href="#") Chăm Sóc Vùng Da Mắt 
								li
									a(href="#") Chăm Sóc Cơ Thể 
								li
									a(href="#") Chăm Sóc Tóc
								li
									a(href="#") Thực Phẩm Chức Năng 
								li
									a(href="#") Tinh Dầu, Spa 
				
				.col-12.col-md-6.col-lg-3
					.footer-col
						.title Hỗ trợ khách hàng
						nav.footer-link
							ul
								li
									a(href="#") Hướng dẫn mua hàng
								li
									a(href="#") Cách thức thanh toán
								li
									a(href="#") Phương thức vận chuyển
								li
									a(href="#") Chính thức đổi trả
								li
									a(href="#") FAQs
				
				.col-12.col-md-6.col-lg-3
					.footer-col
						.title Liên kết nhanh
						nav.footer-link
							ul
								li
									a(href="#") Giới thiệu
								li
									a(href="#") Thương hiệu
								li
									a(href="#") Khuyến mãi
								li
									a(href="#") Tài khoản thành viên
								li
									a(href="#") Liên hệ
						.cert
							a(href="#!")
								img(src="img/bct.png", alt="")
	.footer-bottom
		.copyright Copyright © 2017 Linda Ecommerce. All rights reserved. Design by Canh Cam.
.up